*.csv
*.tsv
*.xml
*.bak
*.kicad_pcb-bak
*_saved_*.sch
*.swp
gitdeps
log.txt
build
dependencies.cmake
firmware/*/config.h.conservify
firmware/*/config.h.jacob
firmware/*/config.h.shah
firmware/*/config.h
firmware/*/seed.h
